@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --rs-yellow-1: #ffd21f;
  --rs-yellow-2: #ffdd57;
  --rs-yellow-3: #ffbb00;
  --rs-grey-bg-1: #d9d9d9;
  --rs-grey-bg-2: #e3e3e3;
  --rs-grey-1: #6b6b6b;
  --rs-white-1: #fefefe;
  --rs-black-1: #2c2c2c;
  --rs-black-2: #1a1a1a;

  .bg-mining {
    background-image: url("/images/mining/DJI_0849.JPG");
  }

  .bg-landscape {
    background-image: url("/images/landscape/DJI_0005.JPG");
  }

  .bg-airborne {
    background-image: url("/images/landscape/AIR.jpeg");
  }

  .bg-underwater {
    background-image: url("/images/hydro/DJI_0399.JPG");
  }

  .bg-hero-home {
    background-image: url("/images/mining/DJI_0778.JPG");
  }

  .bg-hero-about {
    background-image: url("/images/mining/DJI_0741.JPG");
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  @keyframes carousel {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-50%, 0, 0);
    }
  }

  .animate-carousel {
    animation: carousel 30s linear infinite;
    will-change: transform;
  }

  
  .animate-carousel:hover {
    animation-play-state: paused;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Inter, sans-serif;
}